:root {
  --primary-color: #263238;
  --secondary-color: #DBA764;
  --third-color: #1e282e;
  --bg-fondo: #1e282eb7;
}

* {
  padding: 0;
  margin: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* ----------------------------- HOME ----------------------------- */
.container {
  width: 100%;
  background-color: var(--secondary-color);
}

.container_home {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* ----------------------------- HEAD ----------------------------- */
.container_head {
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_img_principal {
  display: flex;
  width: calc(564px * 3);
  animation: scroll 6s linear infinite;

  position: relative;
  z-index: 1;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fixed-image {
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-192px);
  }

  100% {
    transform: translateX(0);
  }
}

.recuadro {
  position: absolute;
  z-index: 2;
  padding: 3em 2em;
  margin: 0 3em;
  background-color: var(--bg-fondo);
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 9px -1px var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5em;

  h1 {
    padding-bottom: 0.5em;
    font-size: 5em;
    font-weight: lighter;
    color: var(--secondary-color);
  }

  &>p {
    padding: 0.3em;
    font-size: 1.7em;
    color: var(--secondary-color);
  }
}

.hr_line {
  width: 90%;
  height: 1px;
  border: none;
  background-color: var(--secondary-color);
  margin: 8px 0px;
}

/* ----------------------------- TIME REALIZE----------------------------- */
.container_time_realize {
  background-color: var(--third-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 1em;
  gap: 1.5em;

  h2 {
    /* margin-top: 1em; */
    color: var(--secondary-color);
    font-size: 45px;
    text-align: center;
  }
}

.container_card_time {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.line_vertical {
  width: 1px;
  height: 90%;
  border: none;
  background-color: var(--secondary-color);
  margin: 0px 8px;
}

.img_rings {
  width: 100px;
}

/* ----------------------------- CARD DATE ----------------------------- */
.card_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .number_date {
    width: 100px;
    font-size: 4em;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }

  .text_date {
    font-size: 1.2em;
    color: var(--secondary-color);
  }
}

/* ----------------------------- Places ----------------------------- */
.container_places {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 3em 1em;
  gap: 2em;
}

.border_card {
  padding: 2em;
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 0px 9px -3px var(--secondary-color);
  border-radius: 5px;
}

.container_card_places {
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--third-color);
  border-radius: 12px;
  text-align: center;

  h3 {
    font-size: 3em;
    font-weight: lighter;
    color: var(--secondary-color);
  }

  h4 {
    margin-top: 20px;
    font-size: 2em;
    font-weight: lighter;
    color: var(--secondary-color);
  }

  p {
    margin-top: 5px;
    font-size: 1em;
    font-weight: lighter;
    color: var(--secondary-color);
  }
}

/* ----------------------------- @media ----------------------------- */
@media (max-width: 420px) {
  .border_card {
    width: 95%;
  }
  
  .container_card_places {
    padding: 1em 1.5em;
  }
}

@media (max-height: 570px),
(max-width: 440px) {
  .container_head {
    height: calc(100% + 5em);
  }

  .container_img_principal {
    height: 570px;
  }

  .recuadro {
    padding: 1.5em 1em;

    h1 {
      padding-bottom: 0.3em;
      font-size: 3.5em;
    }

    &>p {
      padding: 0.3em;
      font-size: 1.3em;
    }
  }
}

@media (max-width: 450px) {
  .container_head {
    height: 100vh;

  }
  .carousel-image {
    height: 100vh;
  }
}
@media (max-width: 450px) {
  .container_head {
    flex-direction: column;
    gap: 0;
  }
  .container_img_principal {
    display: flex;
    width: 130%;
    height: 100vh;
    animation: none;
  }

  .carousel-image {
    display: none;
  }

  /* Agrega una nueva clase para mostrar la imagen fija */
  .fixed-image {
    display: inline;
    width: 100%;
  }
}